*{
    margin:0;
    padding:0;
    font-family:cursive;
}
body{
    background-color:aqua;
}
.navbar{
    background-color:black;
    height:80px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin:25px;
}
.nav_link{
    font-size:30px;
    color:white;
    text-decoration:none;
}
.nav_link:hover{
    color:red;
    transform:scale(2);
}
#content{
    height:1200px;
    background-image:url("home_background.jpg");
    background-size:cover;
    margin:25px;
}
#menu{
    /* border:1px solid pink; */
    height:800px;
    width:100px;
    margin:200px 3.5px 200px 50px;
    font-size:80px;
    display:inline-block;
}
i{
    margin:15px;
    margin-bottom:35px;
}
#area{
    /* border:1px solid pink; */
    height:900px;
    width:1590px;
    display:inline-block;
    margin:150px 50px 150px 3.5px;
    position:absolute;
}
#box1{
    /* border:1px solid pink; */
    height:800px;
    width:400px;
    position:absolute;
    top:50px;
    left:10px;
}
#box2{
    /* border:1px solid pink; */
    height:800px;
    width:400px;
    position:absolute;
    top:50px;
    right:10px;
}
img{
    height:200px;
    width:360px;
    margin:20px;
}
.image{
    margin-top:55px;
}
.box1_image:hover{
    transition-duration:3s;
    transform:translateX(580px) scale(2,3);
}
.box2_image:hover{
    transition-duration:3s;
    transform:translateX(-580px) scale(2, 3);
}
footer{
    background-color:black;
    color:white;
    height:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:25px;
}
span:hover{
    color:red;
    transform:scale(2);
}
